<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mixtico"
        tools:targetApi="31">
        <activity
            android:name=".AdverbiosP5"
            android:exported="false" />
        <activity
            android:name=".AdverbiosP4"
            android:exported="false" />
        <activity
            android:name=".AdverbiosP3"
            android:exported="false" />
        <activity
            android:name=".AdverbiosP2"
            android:exported="false" />
        <activity
            android:name=".AdverbiosP1"
            android:exported="false" />
        <activity
            android:name=".AlimentosP5"
            android:exported="false" />
        <activity
            android:name=".AlimentosP4"
            android:exported="false" />
        <activity
            android:name=".AlimentosP3"
            android:exported="false" />
        <activity
            android:name=".AlimentosP2"
            android:exported="false" />
        <activity
            android:name=".AlimentosP1"
            android:exported="false" />
        <activity
            android:name=".AlimentosLP"
            android:exported="false" />
        <activity
            android:name=".VerbosP5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerbosP4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerbosP3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerbosP2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerbosP1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerbosLP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NumerosP5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NumerosP4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NumerosP3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NumerosP2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NumerosP1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NumerosLP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SustantivosP5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SustantivosP4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SustantivosP3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SustantivosP2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SustantivosP1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SustantivosLP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimoP5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimoP4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimoP3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimoP2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimoP1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimoLP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FamiliaP5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FamiliaP4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FamiliaP3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FamiliaP2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FamiliaP1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CuerpoP5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CuerpoP4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CuerpoP3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CuerpoP2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CuerpoP1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CuerpoLP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FamiliaLP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimalesP4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimalesP3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimalesP2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimalesP5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdverbiosLP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimalesP1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Creditos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ColoresP5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ColoresP4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ColoresP2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ColoresP3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ColoresP1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PronombresLP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ColoresLP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimalesLP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>